{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4b60c8a34d.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700|Raleway:400,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'jonathanjocan.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Jonathan Chandra</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light position-sticky fixed-top">
        <a class="navbar-brand" href="#home_sect">
            <div class="d-flex align-items-center">
                <img src="{% static 'logo_jocan.svg' %}">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#home_sect"><b>Home</b></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#AboutMe_sect"><b>About Me</b></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#Education_sect"><b>Education</b></a>    
                </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#Experiences_sect"><b>Experiences</b></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#Skills_sect"><b>Skills</b></a>    
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'home' %}#Connect_sect"><b>Connect</b></a>    
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'portofolio' %}"><b>Portofolio</b></a>    
            </li>
            </ul>
        </div>
        </nav>
        {% block content%}
        
        {% endblock %}
    </body>
</html>