{% extends 'base.html'%}
{% load static from staticfiles %}

{% block content%}
    <div id="Portofolio_sect">
        <div class="container-fluid">
            <div class="header">
                <h1><b>Portofolio</b></h1>
            </div>
            <div class="portofolio_content d-flex flex-wrap justify-content-center">
                <div class="porto_col d-flex flex-column justify-content-between">
                    <a href="poster1.jpg" target="_blank">
                        <img src="{% static '\poster\poster1.jpg' %}">
                    </a>
                    <a href="poster2.jpg" target="_blank">
                        <img src="{% static '\poster\poster2.jpg' %}">
                    </a>
                </div>
                <div class="porto_col d-flex flex-column justify-content-between">
                    <a href="poster3.jpg" target="_blank">
                        <img src="{% static '\poster\poster3.jpg' %}">
                    </a>
                    <a href="poster4.png" target="_blank">
                        <img src="{% static '\poster\poster4.png' %}">
                    </a>
                </div>
                <div class="porto_col d-flex flex-column justify-content-between">
                    <a href="poster5.jpg" target="_blank">
                        <img src="{% static '\poster\poster5.jpg' %}">
                    </a>
                    <a href="poster6.jpg" target="_blank">
                        <img src="{% static '\poster\poster6.jpg' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'portofolio' %}#Portofolio_sect" target="_self">
        <div class="button_up position-fixed">
            <i class="fas fa-angle-double-up"></i>
        </div>
    </a>  
{% endblock %}